PORT=3000
CORS_ORIGIN=*
FIREBASE_WEB_API_KEY=your_firebase_web_api_key
FIREBASE_SERVICE_ACCOUNT_PATH=./firebase-service-account.json
TIKTOK_USERNAME=demo_user
EXAROTON_API_TOKEN=your_exaroton_api_token
EXAROTON_SERVER_ID=your_exaroton_server_id
